<!DOCTYPE html>
<html>
    <head>
        <title>Caspar's blog</title>
    </head>
    <body>
        <div>
            <h1><a href=<a href="">Caspar's blog</a></h1>
        </div>
        
        <div>
            <p>published: 20.04.2017, 14:18</p>
            <h2><a href="">My first post</a></h2>
            <p>Hallo Leute. Ich bin caspar</p>
        </div>
        
        <div>
            <p>published: 20.04.2017, 14:21</p>
            <h2><a href="">my second post</a></h2>
        </div>
    </body>
</html>